.event-announcement {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 80px;
  &__item {
    width: 210px;
    &:nth-child(2) {
      width: 600px;
    }
    figure {
      padding: 0;
      &::before {
        background-color: rgba($blue, 0.69);
        z-index: 2;
        height: 100%;
      }
    }
  }
  &__data {
    margin-bottom: 50px;
  }
  .lead {
    margin-bottom: 50px;
  }
  .sponsors {
    flex-wrap: wrap;
    img {
      display: block;
      width: calc(50% - 10px);
      height: auto;
      margin-bottom: 10px;
    }
  }
}
