.footer {
  padding-top: 50px;
  padding-bottom: 30px;
  background: {
    image: url(../img/footer-bg.png);
    repeat: no-repeat;
    position: right bottom -35px;
  }
  position: relative;
  > * {
    position: relative;
    z-index: 1;
  }
  &::before {
    content: "";
    display: block;
    width: 580px;
    height: 33px;
    background: {
      image: url(../img/path.png);
      repeat: no-repeat;
      position: center;
      size: cover;
    }
    position: absolute;
    left: 14%;
    top: 50px;
    z-index: 0;
  }
  &__copy {
    text-align: center;
    p {
      font-size: 16px;
      font-weight: 700;
      line-height: 24px;
      color: $white;
    }
  }
}
