.leaders {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  p {
    font-weight: 700;
    color: $white;
  }
  &__item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
    max-width: 475px;
  }
  &__name {
    font-size: 28px;
    line-height: 36px;
    margin-bottom: 25px;
  }
  &__descr {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 0;
  }
  &__figure {
    min-width: 222px;
  }
  &__content {
    margin-left: -25px;
    z-index: 2;
  }
  &_carousel {
    .owl-nav {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      .owl-prev,
      .owl-next {
        display: block;
        width: 54px;
        height: 54px;
        border-radius: 50%;
        background: {
          color: $dark-violet;
          image: url(../img/banner-navs.png);
          repeat: no-repeat;
        }
        opacity: 1;
        transition: all $td $tf;
        &.disabled {
          opacity: 0;
        }
      }
      .owl-prev {
        margin-left: -50px;
        box-shadow: 5px 0 0 0 $sky;
        background-position: 13px center;
        &:hover {
          transform: translateX(-5px);
        }
      }
      .owl-next {
        margin-right: -50px;
        box-shadow: -5px 0 0 0 $sky;
        background-position: right 13px center;
        &:hover {
          transform: translateX(5px);
        }
      }
    }
  }
}
