.logo {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  max-width: 330px;
  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
  }
  // &__img {
  //
  // }
  &__text {
    font-size: 22px;
    font-weight: 500;
    line-height: 32px;
    color: #faf1ce;
    max-width: 190px;
    display: inline-block;
    margin-top: 10px;
  }
}
