@mixin box-shadow() {
  box-shadow: 0 2px 50px rgba($black, 0.3);
}
@mixin defaultTrans() {
  transition: all $td $tf;
}
@mixin placeholder($color, $fsz) {
  ::-webkit-input-placeholder {
    color: $color;
    font-size: $fsz;
    font-weight: 300;
  }
  ::-moz-placeholder {
    color: $color;
    font-size: $fsz;
    font-weight: 300;
  }
  :-ms-input-placeholder {
    color: $color;
    font-size: $fsz;
    font-weight: 300;
  }
  :-moz-placeholder {
    color: $color;
    font-size: $fsz;
    font-weight: 300;
  }
}
