.text {
  &-bold {
    font-weight: 700;
  }
  &-24 {
    font-size: 24px;
  }
}

.margin {
  @for $i from 1 through 20 {
    &-top {
      &-#{$i * 10} {
        margin-top: #{$i * 10px};
      }
    }
    &-bottom {
      &-#{$i * 10} {
        margin-bottom: #{$i * 10px};
      }
    }
    &-left {
      &-#{$i * 10} {
        margin-left: #{$i * 10px};
      }
    }
    &-right {
      &-#{$i * 10} {
        margin-right: #{$i * 10px};
      }
    }
  }
  &-auto {
    margin-left: auto;
    margin-right: auto;
  }
}

.d {
  &-block {
    display: block;
  }
  &-inline-block {
    display: inline-block;
  }
  &-inline {
    display: inline;
  }
  &-flex {
    display: flex;
  }
}
