.text {
  &-bold {
    font-weight: 700;
  }
  &-medium {
    font-weight: 500;
  }
  &-light {
    font-weight: 300;
  }
  &-16 {
    font-size: 16px;
  }
  &-24 {
    font-size: 24px;
  }
  &-30 {
    font-size: 30px;
  }
  &-deco {
    font-family: $heading-font;
    font-size: 30px;
    font-weight: 700;
    line-height: 42px;
    color: $sky;
  }
  &-color {
    &-black {
      color: $black;
    }
    &-blue {
      color: $sky;
    }
    &-grey {
      color: #333;
    }
    &-white {
      color: $white;
    }
  }
}

.bg {
  &-grey {
    background-color: #f9f9f9;
  }
  &-blue {
    background-color: $sky;
  }
}

.max {
  &-width {
    &-980 {
      max-width: 980px;
    }
    &-360 {
      max-width: 360px;
    }
  }
}

.margin {
  @for $i from 1 through 20 {
    &-top {
      &-#{$i * 10} {
        margin-top: #{$i * 10px};
      }
    }
    &-bottom {
      &-#{$i * 10} {
        margin-bottom: #{$i * 10px};
      }
    }
    &-left {
      &-#{$i * 10} {
        margin-left: #{$i * 10px};
      }
    }
    &-right {
      &-#{$i * 10} {
        margin-right: #{$i * 10px};
      }
    }
  }
  &-auto {
    margin-left: auto;
    margin-right: auto;
  }
}

.d {
  &-block {
    display: block;
  }
  &-inline-block {
    display: inline-block;
  }
  &-inline {
    display: inline;
  }
  &-flex {
    display: flex;
  }
}
