.text {
  &-bold {
    font-weight: 700;
  }
}

.margin {
  @for $i from 1 through 20 {
    &-top {
      &-#{$i * 10} {
        margin-top: #{$i * 10px};
      }
    }
    &-bottom {
      &-#{$i * 10} {
        margin-bottom: #{$i * 10px};
      }
    }
    &-left {
      &-#{$i * 10} {
        margin-left: #{$i * 10px};
      }
    }
    &-right {
      &-#{$i * 10} {
        margin-right: #{$i * 10px};
      }
    }
  }
  &-auto {
    margin-left: auto;
    margin-right: auto;
  }
}
