- var items = [{"heading": "Добро пожаловать в Мир Скаутинга!", "p": "Днепровские Скауты Национальной организации скаутов Украины приглашают Вас и Ваших детей открыть для себя уникальный мир Скаутинга!", "url": "img/img-1.jpg"}, {"heading": "Добро пожаловать в Мир Скаутинга!", "p": "Днепровские Скауты Национальной организации скаутов Украины приглашают Вас и Ваших детей открыть для себя уникальный мир Скаутинга!", "url": "img/img-1.jpg"}, {"heading": "Добро пожаловать в Мир Скаутинга!", "p": "Днепровские Скауты Национальной организации скаутов Украины приглашают Вас и Ваших детей открыть для себя уникальный мир Скаутинга!", "url": "img/img-1.jpg"}];

.owl-carousel.banner
  each item in items
    .banner__item
      .banner__img
        img.img-responsive(src="#{item.url}", alt="")
      .banner__caption
        h2.banner__heading #{item.heading}
        p.banner__p #{item.p}
