html {
  min-width: 320px;
  overflow-x: hidden;
  width: 100%;
  font-size: $base-fs;
}

body {
  max-width: 1920px;
  min-width: 320px;
  overflow-x: hidden;
  margin-left: auto;
  margin-right: auto;
  background: #3d297e;
  background: linear-gradient(to bottom,  #3d297e 0%,#34236a 100%);
  font-family: $content-font;
  font-size: $base-fs;
  line-height: $base-lh;
  position: relative;
  &::before,
  &::after {
    content: "";
    display: block;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: $heading-font;
  font-weight: 400;
  color: $black;
}

h2 {
  font-size: 48px;
}

a {
  color: $link;
  &:hover,
  &:focus {
    cursor: pointer;
    text-decoration: underline;
    color: $link;
  }
}

.wrap {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.content {
  width: 100%;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  background-color: $white;
  border-radius: 8px;
  overflow: hidden;
  @include box-shadow();
  &_main {
    max-width: 1170px;
    margin-top: -120px;
  }
}

.section {
  padding-left: 40px;
  padding-right: 40px;
  position: relative;
  & > * {
    position: relative;
    z-index: 2;
  }
}
