// Typography
$heading-font: #{'Guerilla'};
$content-font: #{'Rubik, Roboto, Helvetica, sans-serif'};
$fa          : #{'FontAwesome'};
$base-fs     : 14px;
$base-lh     : 1.5;

// Colors
$link:        #33afe3;
$sky:         #128abc;
$blue:        #1378a8;
$dark-violet: #181d42;
$yel:         #f9c802;
$bege:        #fae6c5;
$white:       #fff;
$black:       #000;

// Transition
$td: 250ms;
$tf: ease-in-out;
