doctype
html
  -var title = 'About scouting';
  include templates/head
  body
    .wrap
      include templates/header
      
      .content
        header.content__header.content__header_grey
          .breadcrumbs
            a.breadcrumbs__item(href="#")
              i.fa.fa-home(aria-hidden="true")
              
            a.breadcrumbs__item(href="#") О нас
          
          .content__heading
            h1.content__h1 Скаутинг – это …
        
        .content__banner
          .info.info_center
            p
              | Скаут – человек, который активно участвует в деятельности
              br 
              | организации, прошел подготовку по скаутской
              br
              | программе и сдал испытание; это очень интересный,
              br
              | но не слишком простой путь. 
        
        .content__container
          .container-fluid
            .row
              .col-xs-10
                p.margin-bottm-0 В мире скаутское движение известно как самый настоящий путь к успеху – и это неспроста, ведь деятельность организации направлена на всестороннее развитие личности. В скаутах учатся руководить и принимать решения, быть неожиданными и точными, надежными и самостоятельными. Скаутом может стать любой человек вне зависимости от вероисповедания, жизненных взглядов, возраста. Скаут – человек, который активно участвует в деятельности организации, прошел подготовку по скаутской программе и сдал испытание; это очень интересный, но не слишком простой путь. 
                            
        .content__container.bg-grey
          .container-fluid
            .row
              .col-xs-3
                p.text-bold.margin-bottm-0 Основополагающие  принципы скаутинга изложены в Конституции Всемирной Организации Скаутского Движения. Среди них выделяют три фундаментальные позиции:
                
              .col-xs-3
                p.margin-bottm-0 
                  span.text-bold 1. Долг перед Богом. 
                  | Данный принцип указывает на огромную важность духовной стороны личности, ее постоянное развитие и воспитание.
                  
              .col-xs-3
                p.margin-bottm-0 
                  span.text-bold 2.	Долг перед другими. 
                  | Воплощает в себе основные принципы скаутинга и подразумевает развитие ответственности в юном скауте перед обществом.
                
              .col-xs-3
                p.margin-bottm-0 
                  span.text-bold 3.	Долг перед собой. 
                  | Развитие обязанностей личности перед самим собой.

        .content__container
          .container-fluid
            .row
              .col-xs-3
                ul.list.list_anchors
                  -var links = [{'content': 'Первый скаут', 'href': '#first-scout'}, {'content': 'Символика и атрибуты скаутов', 'href': '#symbols'}, {'content': 'Скаутский закон и обещания скаутов', 'href': '#law'}, {'content': 'Скаутский патруль', 'href': '#patrol'}, {'content': 'Скаутская лестница', 'href': '#steps'}];
                  each link in links
                    li
                      a.scroll-to(href="#{link.href}") #{link.content}
                      i.fa.fa-long-arrow-right(aria-hidden="true")
                
              .col-xs-9
                p.text-30.text-bold.margin-bottom-30#first-scout Первый скаут
                
                p.margin-bottom-30 Основателем движения скаутов считается сэр Роберт Стефенсон Смит Баден-Пауэлл. В 1899 году полковник Баден-Пауэлл был назначен комендантом крепости Мафекинг в Южной Африке, которая после начала англо-бурской войны была осаждена армией буров. В гарнизоне было чуть больше тысячи солдат, и полковник организовал вспомогательную воинскую часть из местных мальчишек, которые взяли на себя в том числе разведку и доставку донесений через позиции врага. Полковник был поражен, что мальчики воевали не хуже взрослых, отличались отвагой, хитроумием, исполнительностью. Благодаря своим кадетам Баден-Пауэллу удалось продержаться с крошечным гарнизоном 207 дней, пока не подошло подкрепление.
                
                p.margin-bottom-30 С этого момента полковник пришел к выводу, что начинать готовить военных разведчиков надо с детства. Став генералом и возвратившись в Англию, Баден-Пауэлл основал движение скаутов в 1907 году в Великобритании. В 1907 году был проведен первый лагерь на острове Браунси (Великобритания), а в 1908 году была издана всемирно известная книга «Scouting for boys». Перед тем как ее издать, Баден-Пауэлл решил проверить свои теории на практике. Для этого он собрал группу из 22 мальчиков и провел с ними летом 1907 года 8 дней в палаточном лагере на острове Браунси, близ южного побережья Англии (графство Дорсет). Дети были разделены на пять патрулей, во главе каждого стоял назначенный лидер. Восьми дневная программа была насыщенной и яркой.
                
                p.margin-bottom-30 В первый день производилось размещение, создание патрулей и распределение обязанностей, инструктаж лидеров. Во второй день изучалось лагерное дело: вязание узлов, разведение костров и приготовление пищи, ориентирование, не забыли так же о гигиене. В третий день БП учил распознавать подробности окружающей среды вблизи и вдалеке от наблюдателя, например, следы. Четвертый день посвящался изучению животных, птиц, растений, звезд. Пятый – рыцарству: честь, законы, лояльность королю, офицерам, рыцарское отношение к женщине (это БП взял из традиций рыцарско-монашеского ордена иоаннитов на острове Мальта, где он служил в 1890–1893 гг., а так же из легенды о рыцарях Круглого Стола короля Артура). В шестой день ребята учились оказывать помощь при ожогах, обмороке, отравлениях, действовать во время паники. В предпоследний день БП дал детям понятия о колониальной географии, истории, славных делах империи, ее армии и флота, объяснил обязанности настоящего гражданина. Последний день – день игр, соревнований. Разумеется в этом лагере не было лекций. Всю информацию БП доводил до детей в занимательной, игровой форме. Сначала показывал и рассказывал, а затем проводил практические занятия. Лагерь всем понравился, и в начале 1908 года книга “Scouting for Boys” была издана шестью отдельными тетрадками.
                
                p.margin-bottom-30 Так, по всей стране стихийно стали возникать детские группы, взявшие за основу работы его книгу. БП стал получать массу писем, в которых дети и дети требовали разъяснений, комментариев и советов. И БП сдался. После консультаций со своими друзьями он учредил Бюро по переписке. С участием А. Пирсона начали выходить газеты “Скаут” (для детей) и “Хедкуотер Газетт” (для инструкторов). Первые отряды появились в Северном Лондоне, а за весну 1908 года вся Англия оказалась покрытой сетью стихийно возникших отрядов. Затем движение перекинулось на колонии. Уже через год король Эдуард VII принял первый парад четырнадцати тысяч скаутов Англии. 
                  span.text-bold В 1909 году появились первые группы девочек-скаутов. Юридический статус Ассоциация скаутов Великобритании получила хартией короля 4 января 1912 года и с тех пор очередной монарх подтверждает его особым Актом.
                
                p.margin-bottom-50 Новаторство и ошеломительный успех скаутинга заключались в том, что в нем соединили детей и взрослых в одной организации, в процессе совместной деятельности, общей длительной игры в разведчиков, в стремлении быть полезными другим людям, природе и миру в целом. У Баден-Пауэлла отношения между взрослыми и детьми строились как равноправные, где взрослый и ребенок играли каждый свою роль, ребенок добровольно соглашался с позицией и ролью взрослого, как старшего товарища, более знающего, более умелого. Взрослый вел за собой младшего. Баден-Пауэлл понял стремление детей и подростков к неформальному общению, он уловил их желание объединиться между собой для реализации своих интересов и потребностей.
                
                p.text-30.text-bold.margin-bottom-30#symbols Символика и атрибуты скаутов
                
                p.margin-bottom-30 Международный символ (эмблема) скаутов - цветок геральдической лилии, ее изображали на старинных картах мореплавателей, чтобы указать расположение частей света. Такие же формы придавали наконечникам стрел и копий древних воинов. Лилия издавна была знаком смелых и отважных людей, которым, конечно, стремится стать и каждый скаут. Лилия также является символом чистоты - она никогда не будет расти в водоеме с грязной водой. Эта свободолюбивый цветок, будучи сорванным, сразу погибнет, потому что не выносит неволи. Таким должен быть и скаут: смелым, сильным, свободолюбивым, чистым в своих мыслях и делах.
                
                p.margin-bottom-30 
                  span.text-bold Скаутский знак - три пальца правой руки, 
                  | поднятые вверх, означают три части скаутской обещания: выполнить долг перед Богом, помогать ближним, жить по Закону скаутов.  Кисть правой руки находится на уровне головы и немного отведена в сторону. Знак скаутов напоминает, что сильный всегда защищает слабого, а младший подчиняется старшему. Цвета Всемирного Скаутского Движения - белый и лиловый - белая лилия на лиловом (королевском) фоне. Это весьма символично: в геральдике белый цвет олицетворяет чистоту, а королевский лиловый - лидерство и помощь другим.
                
                p.margin-bottom-30 Как и в любой организации и течении, у скаутов есть своя собственная атрибутика. среди ее изображений -  салют, вымпел, униформа, призыв или, как называют скауты, клич, эмблема, знаки отличия, шейный платок (скаутский галстук).
                
                p.margin-bottom-30 Скаутский салют отдают правой рукой, прикасаясь к правой стороны козырька головного убора или, если скаут в берете, середины правой брови, или, если он в скаутском шляпе, края полей шляпы с правой стороны. Вместе с салютом скауты всего мира используют скаутское рукопожатие: скаут здоровается со скаутом левой рукой, при этом мизинец слегка изогнут и отведен в сторону.
                
                p.margin-bottom-30 Во время официальных встреч скаутов, вместе с рукопожатием левой рукой, скаут может отдавать салют, однако только в том случае, если он одет в полную скаутскую форму. Поздравление правой рукой тоже не запрещено, но именно скаутское рукопожатие выражает особый, братский дух, является своеобразным международным знаком. Это приветствие начал Баден-Пауэлл, позаимствовав его у африканского племени. Воины этого племени в правой руке держали оружие, а в левой - щит, и при встрече с тем, кому хотели по говорить свое дружелюбие, переводили щит из левой руки в правую, оставаясь при этом без защиты.
                
                p.margin-bottom-30 Скаутская форма как салют, является одной из первых традиций скаутинга. Во время путешествий или тренировок скаут не должен бояться испачкать одежду. В торжественных же случаях он должен чувствовать себя уверенно и празднично Всем этим вы требованиям и соответствует униформа скаутов: длинные шорты или брюки, форменная рубашка, галстук скаута, головной убор и гольф Форма, разработанная Баден-Пауэллом, которая практически не изменилась и сейчас. Однако скауты различных стран при разработке своей формы учитывают климатические и природные особенности и национальные элементы одежды.  Например, скаут Индии может носить на голове тюрбан, шотландский скаут носит клетчатую юбку. Хотя в целом, униформа скаута должна быть прочной для длительного ношения; хорошо стираться, чтобы ее всегда можно было содержать в чистоте, быть удобной в процессе одевания, чтобы скаут мог быстро ее одеть. Полная форма современного скаута – это  форменная рубашка; галстук; шорты (брюки) цвета хаки или темно-синие; юбки для девочек тех же цветов (возможно с ремнем) головной убор; гольф темных цветов или хаки, обувь темного цвета.
                
                p.margin-bottom-50 Цвет скаутского галстука выбирает отряд или патруль Обычно он соответствует цветам флага патруля или отряда. Также патруль определяет тип узла и зажим, который для удобства можно закрепить на шнур СКУ и вешать на шею. Скаут может прикреплять кожаные, деревянные или глиняные значки лагерей, в которых он принимал участие. Галстук - не только один из основных элементов формы, но и предметы, необходимые и в разных ситуациях. Например, его можно использовать в случае вывихов и переломов для наложения шин, как сигнальный флажок, веревку для связывания рук, завязать нос и рот при пожаре для защиты дыхательных путей.
                
                p.text-30.text-bold.margin-bottom-30#law Скаутский закон и обещания скаутов
                
                p.margin-bottom-30 Сегодня легко вступить в скаутский отряд и стать скаутом, но непросто быть им и жить в соответствии с принципами Скаутинга. Для этого тебе понадобятся решимость, храбрость, честность, сила воли, ответственность. Кажды скаут при посвящении дает обещание, которое он должен понимать, принимать его и выполнять неукоснительно.  Звучит оно так: Клянусь моей честью, что я сделаю все от меня зависящее, чтобы выполнить мой долг перед Богом и моей Страной, помогать другим в любое время, подчиняться Скаутскому Закону! Закон скаутов отражает идеалы, к которым следует стремиться в любой деятельности. Следуя скаутскому закону, скаут растет настоящим гражданином. Скаутский закон является основой, на которой строится все  скаутское движение:
                
                ol.list.list-ordered.list-ordered_dot.margin-left-40.margin-bottom-30
                  -var list = ['Чести скаута нужно доверять.', 'Скаут верен.', 'Обязанность скаута - быть полезным и помогать другим.', 'Скаут - друг всем и брат каждом скауты.', 'Скаут вежлив.', 'Скаут - друг животных.', 'Скаут подчиняется своим родителям, а также приказам руководителя патруля, скаут-мастера.', 'Скаут улыбается и не унывает при любых трудностей.', 'Скаут бережлив.', 'Скаут чист в мыслях, словах и делах.'];
                    each li in list
                      li #{li}
                      
                p.margin-bottom-30 
                  span.text-bold Традиционным для Всемирного скаутского движения является Мировое Скаутское Джембори (World Scout Jamboree)
                  | - взлет скаутских объединений, который проходит раз с на четыре года.  Традиционные праздники скаутов: 22 февраля - день рождения Баден-Пауэлла - празднуют как Международный день скаутов, 1 декабря - День мам скаутов.

                p.margin-bottom-50 Основной традиции скаутов Украины, как и всего мира, неизменно остается предоставление обещания как основа всех отношений. Вступая в скауты, члены движения торжественно обещают делать все, что от них зависит, чтобы выполнить долг перед Богом и Родиной, помогать ближним, жить по Закону скаутов. Прием и посвящение в скауты несколько отличаются. Прием - это формальная часть, вступающий слышит выполнения скаутом всех подготовительных требований, происходит получение разрешения родителей на  его регистрацию в группе. При посвящении необходим флаг объединения или другой символ, место проведения процедуры должно быть эстетичным и торжественным.
                
                p.text-30.text-bold.margin-bottom-30#patrol Скаутский патруль
                
                p.margin-bottom-30 Когда-то Баден – Пауэлл сказал: «Патрульная система есть одно из больших существенных преимуществ и достоинств скаутской работы в отличие от всех других детских организаций». Патрульная система не может включаться и выключаться по желанию руководителя, но создается его усилиями. Правильно поставленная, однажды «запущенная» работа будет наилучшим способом тренировки скаутов и единственным способом организации работы отряда и патруля.
                
                p Есть несколько основ патрульной системы:
                
                ul.list.list-unordered.margin-bottom-30
                  -var uList = ['- использование потенциала каждого скаута и руководителя;', '- вовлечение каждого в работу отряда, патруля, посильное поручение и занятия для каждого);', '- система ступенчатости подготовки от простого к сложному, от частного к общему; от общего знакомства к узкой специализации;', '- система тренировок и курсов различных уровней и назначения: новичка — скаута — патрульного — инструктора — скаутмастера;', '- демократия (выборы от патрульного до старшего скаутмастера) в сочетании с жесткой дисциплиной внутри организации;'];
                    each li in uList
                      li #{li}
                
                p.text-24.text-bold Название патруля, эмблема и флажок
                
                p.margin-bottom-30 Каждый патруль имеет свое название, которое скауты придумывают со смыслом и с юмором. Часто названия патрулей — названия птиц, деревьев, имена любимых героев. Бывают просто веселые названия, окончательный смысл которых известен одним скаутам. Название патруля изображается каким-либо символом или эмблемой на патрульном флажке, равнобедренном треугольнике 60×35×60 см. с завязками на краях короткой стороны. Флажок привязывается на посох флагоносца или специальный флажковый шест. Флажок всегда находится с патрулем под надежной охраной флагоносца. Традиционные цвета флажка — белый флажок с красным рисунком.
                
                p.margin-bottom-30 Обычно стараются подобрать название патруля, соответствующее специализации скаутов. Например, если это патруль велосипедистов, то они могут быть «Гепардами», авиамоделисты — «Орлами», морские скауты могут называться «Акулами» или «Винджаммерами». Скаут должен уметь быстро, красиво и понятно нарисовать эмблему патруля. Когда он подписывает какой-нибудь скаутский документ, то он может к своей подписи добавить и эмблему патруля.
                
                p.text-24.text-bold Командир патруля
                
                p.margin-bottom-30 В каждом патруле есть «маленький начальник» - это командир патруля. Он избирается всем патрулем на срок от 3 до 6 месяцев. Инструктор, работающий с патрулем или отрядом, должны научить командира патруля всему, что необходимо знать и уметь для успешного руководства патрулем. Обычно им становится наиболее опытный и авторитетный скаут, которому доверяет большинство ребят. В отряде, состоящем из 2 и более патрулей, инструктор проводит специальные занятия и тренировки для командиров патруля разных патрулей, на этих занятиях им дается вспомогательный «раздаточный» материал для облегчения, а главное, систематизации работы с патрулем.
                
                p.margin-bottom-30 Желательно раз в полгода, после очередных выборов, проводить курсы для 10–15 новичков – командиров.
                
                p.text-24.text-bold Суд чести
                
                p.margin-bottom-50 Как всякий суд, суд чести рассматривает случаи нарушения скаутских Законов и определяет наказание. Мы должны понимать условность нашей большой игры — скаутинга и должны всегда помнить о серьезности этой игры. Со становлением каждого члена нашей организации: бобренка — волченка — скаута — инструктора увеличивается ответственность каждого скаута за свои действия и за других скаутов. Тем более, когда речь идет о здоровье и безопасности детей-скаутов эти «условные» правила и Законы перерастают в самые что ни на есть настоящие. В компетенцию Инструкторского суда чести входит и разрешение внутренних конфликтов между руководителями. Поэтому важно, чтобы в суде были выбраны самые достойные руководители. Суды чести существуют в отряде, дружине, отделении.
                
                p.margin-bottom-30.text-30.text-bold#steps Скаутская лестница
                
                p.margin-bottom-30 Скаутская лестница представляет собой некую карьерную лестницу, где можно отследить весь путь роста и взросления юного скаута. Представляет собой систему, где присутствует сортировка по различным возрастным группам. Каждая категория скаутов имеет ряд своих полномочий, обязанностей и специальностей. Выглядит это примерно так:
                
                ul.list.list-unordered
                  li 
                    span.text-color-blue - 6–11 лет
                    |  – младшие скауты «Волчата», среди которых есть новички, волчонки, умелые, бравые, асы.
                  li 
                    pan.text-color-blue - 11-15 лет
                    |  — скауты – младшие скауты «Волчата», которые стали асами, а также новички, которые проходят путь следопыт – искатель –проводник.
                  li
                    pan.text-color-blue - 15-17 лет
                    |  – старшие скауты «Роверы», среди которых новички по возрасту и достигшие уровня проводника скауты, которые проходят путь аспирант-ровер-инструктор  - ровер-лидер  - скаут-мастер.
                    
                p.margin-bottom-30 Традиционное название возрастной группы «wolf-cubs» «Младшие скауты «Волчата» было придумано еще Баден-Пауэллом в 1916 году. Сэр Роберт написал замечательную книгу — пособие «The wolf cub'shandbook». Ее сюжетная основа — игра в жизнь и характеры героев знаменитой «Книги джунглей» Редьярда Киплинга. Занятия с младшими скаутами проводятся в помещении с ковровым покрытием или сидя на «пенках». Обычно программа занятий включает больше обучающих игр и проходит более непринужденно и весело и «менее дисциплинированно», нежели занятия скаутов.
                
                p.margin-bottom-50 К волчатам нельзя быть чересчур требовательными, как к скаутам, они еще «не совсем скауты». Даже дав Обещание, волчонок лишь стремится стать настоящим скаутом. Очень важно с самого начала скаутской жизни привить волчатам чувство лагеря-праздника, братства скаутов различных возрастов, единения в организации — именно для этого младшие скауты могут носить почти все те же нашивки, что и скауты и руководители.
                
                p.text-30.text-bold Для младших скаутов создана своя система специальностей.
                
                p.margin-bottom-30 Возрастная группа скаутов от 11 до 15 лет наиболее активная часть организации и Движения в целом. Ребята сами в состоянии организовать свою работу при помощи Патрульной системы, советов инструкторов. Преимущество в проведении самостоятельных встреч патруля и занятий с практическим уклоном. Постоянное стремление к совершенствованию умению и навыков. Эти ребята могут делать многое, не нужно лишь переоценивать своих возможностей (к чему они склонны), лучше обратиться за советом к инструкторам. Всегда нужно помнить, что стать скаутом — непросто, но еще сложнее быть скаутом, придерживаться традиций Движения, жить по Законам скаутов. Нужно всячески стремиться к получению новых знаний, навыков, специальностей, но не превращать это в «погоню за нашивками».
                
                p.margin-bottom-30 Жизнь патруля может только тогда по-настоящему эффективной, когда скауты будут больше, чем друзьями — братьями. Этому как нельзя лучше содействуют трудности и испытания, жизнь в природе, тренировки на пределе сил. Скаутское Обещание, это точка отсчета в жизни любого скаута, пусть даже они уже были волчатами Велика ответственность и обязанности скаута, но велики и перспективы. Курсы для старших скаутов уже начинают содержать элементы подготовки их к работе инструктора, помогая осваивать методы подготовки и тренировки своих младших друзей. Совсем иной подход и к скаутским специальностям. Самообразование, самоконтроль, умение представить инструктору все необходимые свидетельства и наработки, обязательны при сдаче зачета/"теста" на специальность.
                
                p.margin-bottom-30 Инструкторы – это люди в скаутинге, без совета которых, без чьей ежедневной заботы и фантазии скауты будут лишь хорошими, но беспризорными мальчишками и девчонками. Первая ступень — младший инструктор, можно им стать в 16 лет, по рекомендации опытных руководителей — скаутмастеров, дав Инструкторское Обещание, повязав малиновый галстук. Этому предшествует несколько вводных курсов, на которых ты постигнешь главные основы работы и сотрудничества руководителя со скаутами. Без доброты и требовательности, тренированности и веселого нрава, материнского отношения и братской дружбы к скаутам нельзя быть инструктором. Из месяца в месяц, из года в год инструктор должен узнавать все больше нового из скаутской жизни, придумывать новые (или вспоминать забытые старые?) игры, тренировки и т.д.
                
                p.margin-bottom-30 Инструктор - есть связующее звено между скаутами различных поколений, именно инструктор передает ребятам истинный Скаутский Дух и пример служения на благо другим. Именно глядя на инструктора, скауты будут решать, становиться им руководителями или нет.
                
                p Скаутмастер — высшая ступень руководительской «лестницы». В отличие от младшего инструктора (малиновый галстук), инструктора и скаутмастера носят зеленый галстук. Звание «скаутмастер» присваивается решением Совета организации, инструктором становятся по решению скаутмастера, работающего в данном отряде или дружине. Скаутмастер занимается больше организационной и тренировочно-подготовительной работой, но в совершенстве владеет навыками и методами работы с любой возрастной группой скаутов, может проводить занятия по многим специальностям, закончил несколько специальных тренировочных курсов.
                
      include templates/banner
      
    include templates/footer
  
