doctype
html
  -var title = 'About';
  include templates/head
  body
    .wrap
      include templates/header
      
      .content
        header.content__header.content__header_grey
          .breadcrumbs
            a.breadcrumbs__item(href="#")
              i.fa.fa-home(aria-hidden="true")
              
            a.breadcrumbs__item(href="#") О нас
          
          .content__heading
            h1.content__h1 О нас
            p.content__descr информация о клубе
        
        .content__banner
          .info
            .info__item
              p.lg 1992
              p год основания ассоциации
              
            .info__item
              p.lg 250
              p количество человек
              
        .content__container
          .container-fluid
            .row
              .col-xs-9
                p.margin-bottom-50 Уже более двадцати лет в Днепропетровском регионе Украины свою активную деятельность ведет областная детская общественная организация «СКИФ». В далеком 1992 году организаторы такого движения в Украине сделали ставку на воспитание здорового, ответственного и всесторонне развитого подрастающего поколения. Сегодня в составе Ассоциации Днепропетровских Скаутов насчитывается более 250 человек, младшему из которых 5 лет. «СКИФ» - это аббревиатура, которая расшифровуется как Скаут Крепнет Играет Фантазирует. Целью такого скаутского движения в Украине через участие скаутов в местных, национальных и международных организациях воспитывать ответственных и достойных граждан своей страны, способствовать развитию молодых людей для раскрытия их физического, интеллектуального, общественной и духовной потенциал.
            
            .row
              .col-xs-7
                p.margin-bottom-50 «СКИФ» охватывает много факторов, способствующих становлению индивида, но это не значит, что он заменяет семью, школу, религию и другие социальные институты воспитания, он лишь дополняет их воспитательную суть. Он имеет важное значение в формировании концепции обязанностей подрастающего поколения. Эта цель - фундаментальная, и ее нужно понимать в широком смысле: каждая личность должна быть прогрессивной и индивидуальной, одновременно она является неотъемлемой частью общества.
                
              .col-xs-4
                p.text-deco.margin-left-50
                  | «СКИФ» - 
                  span.text-color-black это аббревиатура, которая расшифровуется как 
                  | Скаут Крепнет Играет Фантазирует.
                
            .row
              .col-xs-9
                p.margin-bottom-50.text-bold.text-24 Среди основных направлений нашей деятельности стоит отметить пропаганду активного и здорового образа жизни детей и молодежи, активное участие в воспитании всесторонне развитых лидеров. Среди множества направлений нашей деятельности основными мероприятиями являются:
            
            .row
              .col-xs-9
                -var oList = ['организация скаутских лагерей, палаточных, оздоровительных, передвижных лагерей;', 'проведение экскурсионных и туристических походов, организации экспедиций;', 'разработка и проведение экскурсионных и познавательных программ;', 'проведение тематических творческих вечеров, ролевых обучающих игр, организация соревнований и экстремальных ралли;', 'внедрение различных социальных, общественных и благотворительных проектов;', 'организация и проведение международных культурно-обменных программ, гостевое участие скаутов в региональных, национальных и международных слетах;', 'проведение психологических тренингов с детьми и молодежью на различную тематику относительно жизни на природе, лидерских качеств и навыков, а  также работа с молодежью по подготовке будущих руководителей скаутских групп.'];
                
                ol.list.list-ordered.list-ordered_dot
                  each li in oList
                    li #{li}
                    
        .content__container.bg-grey
          .container-fluid
            .row
              .col-xs-4
                p.text-deco АДС «СКИФ» в своей активной деятельности руководствуется основополагающими принципами, которые способствуют росту популярности организации. Среди них выделяют:
                
              .col-xs-8
                - var uList = ['Формирование материально-технической базы для организации', 'Организация занятости, обучения и трудоустройства детей и молодежи', 'Проведение комплексных мероприятий, нацеленных на повышение уровня подготовки и увеличение количества специалистов-волонтеров', 'Разработка и внедрение комплексных программ «Скаутинг без границ», основной задачей которых является пропаганду здорового и активного образа жизни, всестороннее развитие личности', 'Создание ре регионального информационно-ресурсного треннингового центра', 'Активизация внешней политики организации, с целью обмена опытом с организациями других регионов Украины и стран в вопросах воспитания и работы с детьми и молодёжью', 'Разработка и реализация уникальных ролевых обучающих проектов.'];
                
                ul.list.list-unordered.list-unordered_check
                  each li in uList
                    li #{li}
                    
        .content__container
          .container-fluid
            .row            
              .col-xs-7
                - var uList2 = ['Реализация обучающих программ для детей и молодёжи Днепропетровского региона, в которых приняло участие более 5000 человек', 'Плотное взаимодействие между братскими организациями скаутов и общественными детско-молодежными организациями, а так же учреждениями исполнительной власти и международными фондами, как на Украине, так и за её пределами (Россия, Белоруссия, Польша, Франция, Германия, Англия, Финляндия, Норвегия, Канада).', 'Разработка и внедрение  всесторонних проектов, направленных на укрепление международных связей организации и подготовки воспитательных кадров, при финансировании международных благотворительных фондов.', 'Организации стажировок руководящих лиц, руководителей скаутских групп, инструкторов в скаутских организациях других регионов и стран.', 'Воспитание множества достойных скаутов, которые сегодня являются сознательными гражданами Украины и успешно реализовали себя в общественной и деловой сферах жизни.'];
                
                ul.list.list-unordered.list-unordered_check
                  each li in uList2
                    li #{li}
            
              .col-xs-5
                p.text-deco.max-width-360.margin-left-80 Ежегодно АДС «СКИФ» реализует множество полезных общественных и социально-образовательных проектов для детей и молодежи в Днепропетровском районе. Организация была основана 10 марта 1992 года. Сегодня можно смело заявить, что наша деятельность имеет список достижений, среди которых:
                    
      include templates/banner
      
    include templates/footer
  
