doctype
html
  -var title = 'About';
  include templates/head
  body
    .wrap
      include templates/header
      
      .content
        header.content__header.content__header_grey
          .breadcrumbs
            a.breadcrumbs__item(href="#")
              i.fa.fa-home(aria-hidden="true")
              
            a.breadcrumbs__item(href="#") О нас
          
          .content__heading
            h1.content__h1 О нас
            p.content__descr информация о клубе
        
        .content__banner
          .info
            .info__item
              p.lg 1992
              p год основания ассоциации
              
            .info__item
              p.lg 250
              p количество человек
              
        .content__container
          .container-fluid
            .row
              .col-xs-9
                p Уже более двадцати лет в Днепропетровском регионе Украины свою активную деятельность ведет областная детская общественная организация «СКИФ». В далеком 1992 году организаторы такого движения в Украине сделали ставку на воспитание здорового, ответственного и всесторонне развитого подрастающего поколения. Сегодня в составе Ассоциации Днепропетровских Скаутов насчитывается более 250 человек, младшему из которых 5 лет. «СКИФ» - это аббревиатура, которая расшифровуется как Скаут Крепнет Играет Фантазирует. Целью такого скаутского движения в Украине через участие скаутов в местных, национальных и международных организациях воспитывать ответственных и достойных граждан своей страны, способствовать развитию молодых людей для раскрытия их физического, интеллектуального, общественной и духовной потенциал.

            
            
      include templates/banner
      
    include templates/footer
  
