doctype
html
  -var title = 'Вопрос ответ';
  include templates/head
  body
    .wrap
      include templates/header
      
      .content
        header.content__header.content__header_grey
          .breadcrumbs
            a.breadcrumbs__item(href="#")
              i.fa.fa-home(aria-hidden="true")
              
            a.breadcrumbs__item(href="#") Вопрос ответ
          
          .content__heading
            h1.content__h1 Вопрос ответ
              
        .content__container.content__container_faq
          .container-fluid
            h2 Ответы на самые популярные вопросы br о ассоциации
              
            .row
              .col-xs-4
                .faq-form
                  p.text-medium.margin-bottom-20 Если вы не нашли ответ на свой вопрос, обратитесь к нашим менеджерам:
                  
                  p по телефону
                  
                  p.faq-form__tel +380 (44) 55588899
                  
                  p или заполните форму
                  
                  form.form.form_faq.text-center
                    .form-group
                      input(type="text", name="name", placeholder="Имя")
                      
                    .form-group
                      input(type="tel", name="tel", placeholder="Номер телефона")
                      
                    .form-group
                      textarea(name="textarea", placeholder="Текст вопроса")
                      
                    button.button.button_yellow(type="submit") отправить вопрос
                
              .col-xs-8
                
                    
      include templates/banner
      
    include templates/footer
  
