doctype
html
  -var title = 'Вопрос ответ';
  include templates/head
  body
    .wrap
      include templates/header
      
      .content
        header.content__header.content__header_grey
          .breadcrumbs
            a.breadcrumbs__item(href="#")
              i.fa.fa-home(aria-hidden="true")
              
            a.breadcrumbs__item(href="#") Вопрос ответ
          
          .content__heading
            h1.content__h1 Вопрос ответ
              
        .content__container.content__container_faq
          .container-fluid
            h2 
              | Ответы на самые популярные вопросы
              br 
              | о ассоциации
              
            .row
              .col-xs-4
                .faq-form
                  p.text-medium.margin-bottom-20 Если вы не нашли ответ на свой вопрос, обратитесь к нашим менеджерам:
                  
                  p.text-16.text-light по телефону
                  
                  p.text-30.text-light +380 (44) 55588899
                  
                  p.text-16.text-light или заполните форму
                  
                  form.form.form_faq.text-center
                    .form-group
                      input(type="text", name="name", placeholder="Имя")
                      
                    .form-group
                      input(type="tel", name="tel", placeholder="Номер телефона")
                      
                    .form-group
                      textarea(name="textarea", placeholder="Текст вопроса")
                      
                    button.button.button_yellow(type="submit") отправить вопрос
                
              .col-xs-8
                .accordion#accordion
                  -var questions = [{'heading': 'Что такое Скаутинг?', 'content': 'Скаутинг - это всемирное добровольное негосударственное и неполитическое движение, в котором участвуют более 25 миллионов детей и молодых людей различных социальных групп, религий и культур. Главная цель скаутинга - гражданское, духовное, интеллектуальное и физическое развитие молодых людей, формирование активной целостной личности. Процитируем Устав Всемирной Организации Скаутского Движения: "содействие развитию молодых людей для достижения их полного интеллектуального, общественного и духовного потенциала как индивидуумов, как ответственных граждан и как членов местных, национальных и международных сообществ." Это достигается путём участия скаутов в прогрессивных развивающих программах и в общественных проектах.', 'id': 'collapse1'}, {'heading': 'Чем скаут отличается от пионера? ', 'content': 'Скаутинг - это всемирное добровольное негосударственное и неполитическое движение, в котором участвуют более 25 миллионов детей и молодых людей различных социальных групп, религий и культур. Главная цель скаутинга - гражданское, духовное, интеллектуальное и физическое развитие молодых людей, формирование активной целостной личности. Процитируем Устав Всемирной Организации Скаутского Движения: "содействие развитию молодых людей для достижения их полного интеллектуального, общественного и духовного потенциала как индивидуумов, как ответственных граждан и как членов местных, национальных и международных сообществ." Это достигается путём участия скаутов в прогрессивных развивающих программах и в общественных проектах.', 'id': 'collapse2'}, {'heading': 'Так это происходит во всем мире.', 'content': 'Скаутинг - это всемирное добровольное негосударственное и неполитическое движение, в котором участвуют более 25 миллионов детей и молодых людей различных социальных групп, религий и культур. Главная цель скаутинга - гражданское, духовное, интеллектуальное и физическое развитие молодых людей, формирование активной целостной личности. Процитируем Устав Всемирной Организации Скаутского Движения: "содействие развитию молодых людей для достижения их полного интеллектуального, общественного и духовного потенциала как индивидуумов, как ответственных граждан и как членов местных, национальных и международных сообществ." Это достигается путём участия скаутов в прогрессивных развивающих программах и в общественных проектах.', 'id': 'collapse3'}, {'heading': 'Когда и откуда пришло скаутское движение в Украину?', 'content': 'Скаутинг - это всемирное добровольное негосударственное и неполитическое движение, в котором участвуют более 25 миллионов детей и молодых людей различных социальных групп, религий и культур. Главная цель скаутинга - гражданское, духовное, интеллектуальное и физическое развитие молодых людей, формирование активной целостной личности. Процитируем Устав Всемирной Организации Скаутского Движения: "содействие развитию молодых людей для достижения их полного интеллектуального, общественного и духовного потенциала как индивидуумов, как ответственных граждан и как членов местных, национальных и международных сообществ." Это достигается путём участия скаутов в прогрессивных развивающих программах и в общественных проектах.', 'id': 'collapse4'}];
                  
                  each item in questions
                    .panel
                      .panel-heading
                        h4.panel-title #{item.heading}
                        a.panel-link(data-toggle="collapse", data-parent="#accordion", href="##{item.id}") Ответ

                      .panel-collapse.collapse(id="#{item.id}")
                        .panel-body
                          p #{item.content}
                    
      include templates/banner
      
    include templates/footer
  
