doctype
html
  -var title = 'Как стать скаутом';
  include templates/head
  body
    .wrap
      include templates/header
      
      .content
        header.content__header.content__header_blue
          .breadcrumbs
            a.breadcrumbs__item(href="#")
              i.fa.fa-home(aria-hidden="true")
            a.breadcrumbs__item(href="#") Новости
            a.breadcrumbs__item(href="#") Как стать скаутом
            
          .content__heading
            h1.content__h1 Как стать скаутом
              
        .content__container.bg-grey
          .container-fluid
            .row
              .col-xs-5
                ol.list.list-ordered.list-ordered_deco.list-ordered_deco-dark.margin-top-80
                  li Найти нашу локацию скаутов;
                  li Получить первичные знания про скаутинг: история скаутинга, почему такие законы, какая символика;
                  li Пройти скаутское испытание;
                  li Пройти торжественное посвящение в скауты;
                
              .col-xs-5.col-xs-offset-1
                p.margin-top-120.margin-bottom-50 Скаутинг – это не занятие английским по вторникам, не футбол и не музыкальная школа. Скаутинг — это образ жизни.
                
                p.margin-left-50.margin-bottom-40 Ни одного дня без доброго дела, честность, помощь близким и родным – это вам не изучение нотной грамоты  Быть скаутом, значит, быть ответственным и самостоятельным, готовым ко взрослой жизни; уметь работать в команде.
                
                p.margin-left-50.text-bold Ведь скаут однажды - скаут навсегда.

        .content__container
          .container-fluid
            p.margin-bottom-60 Если ты ищешь новых друзей, приключений и мечтаешь увлекательно проводить время, посещая разные места мира, то ты обратился по адресу! Здесь тебя давно ждут. Стань скаутом и для тебя откроется новый мир, связывающий судьбы многих ярких людей, таких как скауты. Ты любишь активный отдых на природе, тебе нравится ходить в походы, посещать интересные места с целью познать как можно больше мир, и тебе хочется испытать себя в разных ситуациях и доказать себе, что ты отважный, сильный и смелый... Тогда спеши вступить в наши ряды!
            
            h4.margin-bottom-30.text-bold.text-color-blue Традиционно в скаутинге выделяют возрастные группы:
                
            p.text-bold.text-24 Младшая
            
            p.margin-bottom-30 – дети возрастом от 6 до 11 лет. «Волчата», «Белки»,  «Медведи» объединяются в стаи.
            
            p.text-bold.text-24 Скауты
            
            p.margin-bottom-30 – подростки в возрасте от 11 до 15 лет. Здесь есть скауты, разведчики,  гайды, которые объединяются в звенья либо патрули. Звенья, в свою очередь, объединяются в отряды. Отряд состоит из 20-30 человек и имеет совершеннолетнего руководителя - начальника и  помощника.
            
            p.text-bold.text-24 Старшая группа
            
            p.margin-bottom-50 – молодежь от 15 и до 25 лет, которых именуют витязями и дружинницами, роверами, странниками. Они совершенствуют свои навыки, ходят в походы и помогают в работе отрядов и стай поодиночке, либо группами и объединяются в круг/отряд роверов, начальником которого выбирается один из них.
            
            p.margin-bottom-30 Руководители отрядов и стай - совершеннолетние лица, прошедшие руководительские курсы и имеющие звание. Члены старшей ветви могут, но не обязаны, быть руководителями. Быть руководителем можно, при желании, всю жизнь. Можно участвовать в скаутской жизни и, не будучи самому скаутом - помогать в устройстве и проведении лагерей, помогать работе отряда в городе. Например, обычно родители помогают жизни отрядов и стай, к которым принадлежат их дети. Путь скаута начинается с того, что новичка зачисляют в отряд скаутов по возрастному критерию. Он считается новичком и имеет право носить форму без галстука и без нашивки, обозначающей скаутское звание. Некоторое время (обычно пол года или год) он участвует в жизни отряда, получает необходимые знания и навыки. В процессе он решает, хочет ли он остаться в отряде и стать скаутом.
            
            p.margin-bottom-30 По окончании этого срока, обычно в летнем или зимнем лагере, проводятся испытания на скаутские знания и умения по определенной программе. Испытания и программа обучения могут существенно различаться в разных организациях. После успешной сдачи испытаний в торжественной обстановке новичок дает клятву, ему повязывается галстук, и он принимается в ряды скаутов. Сданные испытания – только начало, минимальный уровень знаний. В дальнейшем скауты приобретают знания и опыт, участвуя в лагерях, походах, слетах, проходя курсы, получая нашивки специальностей и новые звания.
            
            .row
              .col-xs-10
                p.text-24.text-bold.text-color-grey.margin-bottom-40 Скауты - необычные люди. Скаутинг - занятие не для каждого. В скауты специально не отбирают, однако скауты сильно отличаются от людей в среднем, ибо не каждому человеку под силу та высокая планка, которая задается скаутским движением. Вступающим в ряды скаутов стоит знать и помнить, что:
                
                ul.list.list-unordered.list-unordered_check.margin-bottom-40.margin-left-130
                  -var list = ['в скаутских лагерях не курят и не употребляют алкоголь, не играют в карты и другие азартные игры;', 'скауты следят за своим языком;', 'в скаутских лагерях не бывает потасовок между старшими и младшими и "королевских ночей";', 'скауты не берут в лагерь магнитофоны и плееры, в настоящих скаутских лагерях не бывает дискотек;', 'скауты носят аккуратную форму с определенными знаками различия (нашивками);', 'в лагере нет тех, кто всегда работает, и тех, кто всегда отдыхает. Каждый выполняет свою функцию;', 'скаутский лагерь – не «тусовка» для молодежи;летние скаутские лагеря - палаточные. Это значит, что условия могут быть спартанские. В частности, вам и вашему мобильному телефону придется научиться обходиться без электричества;', 'в скаутском лагере нет родителей, поваров и других людей, которые будут вас обслуживать. Всё, включая приготовление пищи, вы научитесь делать самостоятельно;', 'скаутинг - это не спортивная секция и не туристический клуб, хотя скауты и получают серьезные знания и навыки жизни в природе;', 'скаутинг - не тайная или закрытая организация. Все скаутские методики многократно опубликованы с самого момента основания, 1907 года. С уставами и положениями скаутских организаций можно ознакомиться в разделе;', 'скаутинг - не религиозная секта;', 'скаутинг - не военная и не "милитаристская" организация;'];
                  each li in list
                    li #{li}
                    
            p.margin-bottom-30 Скаутинг - это большой и удивительный мир дружбы, чистоты и товарищества. Это рассветы и закаты. Это песни, походы, чувство единения с природой. Это и интенсивное, порой "экстремальное" общение, это непростые погодные условия, когда нужно вместе делать дело. За неделю лагеря обычно узнаешь человека лучше, чем за 10 лет совместной учебы в школе. Друзья, которых находишь в скаутском лагере, обычно остаются навсегда.
            
            p Мировой и наш собственный опыт говорит о том, что такая система работы с детьми интересна для них и наиболее эффективна для получения новых знаний.
            
      include templates/banner
      
    include templates/footer
  
