doctype
html
  -var title = 'Scouts';
  include templates/head
  body
    .wrap.wrap_main
      include templates/header
      include templates/banner
      
      .content.content_main
        //- =====
        section.section.section_news
          .container-fluid
            h2 Новости
            
            .row
              .col-xs-4
                figure.figure.figure_cir
                  img(src="img/news-img-1.png", alt="")
                  
                a.link.link_type-2(href="#") Встреча участников проекта "Джерело 2012"
                
                p.excerpt Дата: 03.07.2012 г. Время: с 18:30 до 19:30 Место встречи: по адресу пр. Кирова, д.14 (в помещении ДЮЦ "Юнацтво")
                  a(href="#") ...
                    i.fa.fa-long-arrow-right
                
              .col-xs-4
                figure.figure.figure_cir
                  img(src="img/news-img-1.png", alt="")
                  
                a.link.link_type-2(href="#") Информация для всех членов организации
                
                p.excerpt Областная общественная детская организация «Ассоциация Днепровских скаутов «СКИФ» информирует всех заинтересованных лиц и активных членов организации о текущих организационных мероприятиях в связи с началом учебного
                  a(href="#") ...
                    i.fa.fa-long-arrow-right
                
              .col-xs-4
                figure.figure.figure_cir
                  img(src="img/news-img-1.png", alt="")
                  
                a.link.link_type-2(href="#") Международный скаутський лагер
                
                p.excerpt Областная детская общественная организация приглашает Вас принять участие в международном скаутском лагере в Норвегии «Kvaernmoen»
                  a(href="#") ...
                    i.fa.fa-long-arrow-right
                
            a.button.button_yellow(href="#") Все новости
        
        //- =====
        section.section.section_blue.section_how-to
          .container-fluid
            .row
              .col-sm-6
                h2 Как стать скаутом
                p.sub-heading Для того чтобы стать скаутом, необходимо:
                
                - var oList = [{'content':'найти нашу локацию скаутов;', 'class':'margin-left-40'}, {'content':'получить первичные знания про скаутинг: история скаутинга, почему такие законы, какая символика;', 'class':''}, {'content':'пройти скаутское испытание', 'class':'margin-left-100'}, {'content':'пройти торжественное посвящение в скауты', 'class':'margin-left-190'}];
                
                ol.list.list-ordered.list-ordered_deco.margin-top-90
                  each li in oList
                    li(class="#{li.class}") #{li.content}
                    
              .col-sm-6.text-right
                p.margin-top-40.margin-bottom-60.text-left Скаутинг – это не занятие английским по вторникам, не футбол и не музыкальная школа. Скаутинг — это образ жизни.
                
                p.margin-bottom-30.text-left.margin-left-60 Ни одного дня без доброго дела, честность, помощь близким и родным – это вам не изучение нотной грамоты  Быть скаутом, значит, быть ответственным и самостоятельным, готовым ко взрослой жизни; уметь работать в команде.
                
                p.text-bold.margin-bottom-50.text-left.margin-left-60 Ведь скаут однажды - скаут навсегда.
                
                a.button.button_yellow.margin-right-30(href="") Подробнее
                
        //- =====
        section.section.section_yellow.section_leaders-main
          .container-fluid
            h2 Наши лидеры
            
            .leaders
              .leaders__item
                figure.figure.figure_rect.leaders__figure
                  img(src="img/lid-1.jpg", alt="")
                  
                .leaders__content
                  p.leaders__name Константин Константиновский
                  p.leaders__descr С нами уже 5 лет
                  p.leaders__descr Главный лидер в Днепре
                  
              .leaders__item
                figure.figure.figure_rect.leaders__figure
                  img(src="img/lid-2.jpg", alt="")
                  
                .leaders__content
                  p.leaders__name Константин Константиновский
                  p.leaders__descr С нами уже 5 лет
                  p.leaders__descr Главный лидер в Днепре
            
            a.button.button_white.margin-top-70.margin-auto(href="#") Смотреть всех
        
        //- =====
        section.section.section_parents-main
          .container-fluid
            h2.margin-bottom-60 Родителям
            
            .row
              .col-xs-6
                p Родители часто задаются вопросом «Кто такие скауты?». Скаутинг – это система всестороннего развития детей, где их учат разводить костры, строить шалаши, выживать в дикой природе, фильтровать воду, ориентироваться на местности по звездам, по компасу,  по солнцу, по мху, – по чему угодно. Кроме того, помимо туризма и выживания
                
              .col-xs-6
                p Существует скаутский закон, который включает 10 пунктов: скаут честный, скаут вежливый, скаут друг всем и брат каждому скауту, скаут подчиняется своему скаут-лидеру и слушается родителей, скаут экономен и бережлив, скаут друг природы и так далее. Также скаутинг включает патриотическое воспитание
                
            a.button.button_yellow.margin-top-20.margin-auto.d-block(href="#") Узнать больше
            
        //- =====
        section.section.section_sponsors
          .container-fluid
            h2.margin-bottom-60 Наши спонсоры
            
            -var sponsors = ['s-1.jpg', 's-2.jpg', 's-3.jpg', 's-4.jpg', 's-2.jpg'];
            .sponsors
              each item in sponsors
                .sponsors__item
                  img.img-responsive(src="img/#{item}", alt="")
                  
        
    include templates/footer
