doctype
html
  include templates/head
  body
    .wrap
      include templates/header
      include templates/banner
      
      .content.content_main
        section.section.section_news
          .container-fluid
            h2 Новости
            
            .row
              .col-xs-4
                figure.figure.figure_cir
                  img(src="img/news-img-1.png", alt="")
                  
                a.link.link_type-2(href="#") Встреча участников проекта "Джерело 2012"
                
                p.excerpt Дата: 03.07.2012 г. Время: с 18:30 до 19:30 Место встречи: по адресу пр. Кирова, д.14 (в помещении ДЮЦ "Юнацтво")
                  a(href="#") ...
                    i.fa.fa-long-arrow-right
                
              .col-xs-4
                figure.figure.figure_cir
                  img(src="img/news-img-1.png", alt="")
                  
                a.link.link_type-2(href="#") Информация для всех членов организации
                
                p.excerpt Областная общественная детская организация «Ассоциация Днепровских скаутов «СКИФ» информирует всех заинтересованных лиц и активных членов организации о текущих организационных мероприятиях в связи с началом учебного
                  a(href="#") ...
                    i.fa.fa-long-arrow-right
                
              .col-xs-4
                figure.figure.figure_cir
                  img(src="img/news-img-1.png", alt="")
                  
                a.link.link_type-2(href="#") Международный скаутський лагер
                
                p.excerpt Областная детская общественная организация приглашает Вас принять участие в международном скаутском лагере в Норвегии «Kvaernmoen»
                  a(href="#") ...
                    i.fa.fa-long-arrow-right
                
            a.button.button_yellow(href="#") Все новости
        
        section.section.section_blue.section_how-to
          .container-fluid
            .row
              .col-sm-6
                h2 Как стать скаутом
                p.sub-heading Для того чтобы стать скаутом, необходимо:
                
                - var oList = ['найти нашу локацию скаутов;', 'получить первичные знания про скаутинг: история скаутинга, почему такие законы, какая символика;', 'пройти скаутское испытание', 'пройти торжественное посвящение в скауты'];
                
                ol.o-list
                  each li in oList
                    li #{li}
                    
              .col-sm-6
                p Скаутинг – это не занятие английским по вторникам, не футбол и не музыкальная школа. Скаутинг — это образ жизни.
                
                p Ни одного дня без доброго дела, честность, помощь близким и родным – это вам не изучение нотной грамоты  Быть скаутом, значит, быть ответственным и самостоятельным, готовым ко взрослой жизни; уметь работать в команде.
                
                p.text-bold Ведь скаут однажды - скаут навсегда.
                
                a.button.button_yellow Подробнее
                
    include templates/footer
