doctype
html
  -var title = 'Events list';
  include templates/head
  body
    .wrap
      include templates/header
      
      .content
        header.content__header.content__header_blue
          .breadcrumbs
            a.breadcrumbs__item(href="#")
              i.fa.fa-home(aria-hidden="true")
              
            a.breadcrumbs__item(href="#") Новости
          
          .content__heading
            h1.content__h1 Наша деятельность
            p.content__descr планируемые или прошедшие события
            
        .content__container
          .container-fluid
            article.event-list
              .row
                .col-xs-3
                  .event-list__img
                    figure.figure.figure_cir.pull-right
                      img.img-reponsive(src="img/e-1.png", alt="")
                    
                .col-xs-8
                  .event-list__item
                    a.event-list__link(href="#") Название события
                    
                    .data.event-list__data
                      .data__item
                        p.data__p Дата проведения
                        p.data__p.data__p_calendar 24 декабря 2016 - 01 января 2017
                        
                      .data__item
                        p.data__p Ближайшие
                        p.data__p.data__p_calendar 24 декабря 2016
                        
                    p.event-list__p Дорогие наши старшие скауты, роверы и друзья организации - Вот и настало время, долгожданного традиционного лагеря нашей организации - «Джерело». Приглашаем всех желающих - весь старший актив организации, просто небезразличных граждан нашего славного города, и конечно же уважаемых и не менее активным родителей наших волчат и скаутов, принять участие в программе проекта - по подготовке и обустройству территории места проведения  традиционного 16-го скаутского лагеря «Джерело 2010».
                    
            article.event-list
              .row
                .col-xs-3
                  .event-list__img
                    figure.figure.figure_cir.pull-right
                      img.img-reponsive(src="img/e-1.png", alt="")
                    
                .col-xs-8
                  .event-list__item
                    a.event-list__link(href="#") Второе событие
                    
                    .data.event-list__data
                      .data__item
                        p.data__p Дата проведения
                        p.data__p.data__p_calendar 24 декабря 2016 - 01 января 2017
                        
                      .data__item
                        p.data__p Ближайшие
                        p.data__p.data__p_calendar 24 декабря 2016
                        
                    p.event-list__p Дорогие наши старшие скауты, роверы и друзья организации - Вот и настало время, долгожданного традиционного лагеря нашей организации - «Джерело». Приглашаем всех желающих - весь старший актив организации, просто небезразличных граждан нашего славного города, и конечно же уважаемых и не менее активным родителей наших волчат и скаутов, принять участие в программе проекта - по подготовке и обустройству территории места проведения  традиционного 16-го скаутского лагеря «Джерело 2010».
                    
            article.event-list
              .row
                .col-xs-3
                  .event-list__img
                    figure.figure.figure_cir.pull-right
                      img.img-reponsive(src="img/e-1.png", alt="")
                    
                .col-xs-8
                  .event-list__item
                    a.event-list__link(href="#") Еще одно событие, которое может быть с длинным названием в несколько строчек
                    
                    .data.event-list__data
                      .data__item
                        p.data__p Дата проведения
                        p.data__p.data__p_calendar 24 декабря 2016 - 01 января 2017
                        
                      .data__item
                        p.data__p Ближайшие
                        p.data__p.data__p_calendar 24 декабря 2016
                        
                    p.event-list__p Дорогие наши старшие скауты, роверы и друзья организации - Вот и настало время, долгожданного традиционного лагеря нашей организации - «Джерело». Приглашаем всех желающих - весь старший актив организации, просто небезразличных граждан нашего славного города, и конечно же уважаемых и не менее активным родителей наших волчат и скаутов, принять участие в программе проекта - по подготовке и обустройству территории места проведения  традиционного 16-го скаутского лагеря «Джерело 2010».
                    
            article.event-list
              .row
                .col-xs-3
                  .event-list__img
                    figure.figure.figure_cir.pull-right
                      img.img-reponsive(src="img/e-1.png", alt="")
                    
                .col-xs-8
                  .event-list__item
                    a.event-list__link(href="#") Четвертое мероприятие
                    
                    .data.event-list__data
                      .data__item
                        p.data__p Дата проведения
                        p.data__p.data__p_calendar 24 декабря 2016 - 01 января 2017
                        
                      .data__item
                        p.data__p Ближайшие
                        p.data__p.data__p_calendar 24 декабря 2016
                        
                    p.event-list__p Дорогие наши старшие скауты, роверы и друзья организации - Вот и настало время, долгожданного традиционного лагеря нашей организации - «Джерело». Приглашаем всех желающих - весь старший актив организации, просто небезразличных граждан нашего славного города, и конечно же уважаемых и не менее активным родителей наших волчат и скаутов, принять участие в программе проекта - по подготовке и обустройству территории места проведения  традиционного 16-го скаутского лагеря «Джерело 2010».
                    
        .pagination
          .pagination__top
            .pagination__pages
              span.current 2
              span /
              span.amount 4
              span.page Страница
              
          .pagination__bottom
            a.pagination__link(href="#") Первая
            a.pagination__link(href="#") Предыдущая
            
            ul.pagination__list
              li
                a(href="#") 1
              li
                a(href="#") 2
              li
                a.active(href="#") 3
              li
                a(href="#") 4
            
            a.pagination__link(href="#") Следующая
            a.pagination__link(href="#") Последняя
            
      include templates/banner
      
    include templates/footer
  
