doctype
html
  -var title = 'Проект «Мы Робинзоны»';
  include templates/head
  body
    .wrap
      include templates/header
      
      .content
        header.content__header.content__header_blue
          .breadcrumbs
            a.breadcrumbs__item(href="#")
              i.fa.fa-home(aria-hidden="true")
              
            a.breadcrumbs__item(href="#") Новости
            a.breadcrumbs__item(href="#") Проект «Мы Робинзоны»
          
          .content__heading
            h1.content__h1 Проект «Мы Робинзоны»
            
        .content__container.content__container_page
          .container-fluid
            .row
              .col-xs-6
                figure
                  img.img-responsive(src="img/n1.jpg", alt="")
                    
              .col-xs-6
                p.text-24.text-color-blue.margin-bottom-30 Дорогие наши старшие скауты, роверы и друзья организации - Вот и настало время, долгожданного традиционного лагеря нашей организации - «Джерело».
                
                p Приглашаем всех желающих - весь старший актив организации, просто небезразличных граждан нашего славного города, и конечно же уважаемых и не менее активным родителей наших волчат и скаутов, принять участие в программе проекта - по подготовке и обустройству территории места проведения  традиционного 16-го скаутского лагеря «Джерело 2010».
                
            .row
              .col-xs-12
                p Есть предложение заехать за 2 дня до начала лагеря и распределить инвентарь, построить основные конструкции, сооружения и прочие объекты, что в результате позволит сделать данное мероприятие организации интерестным и незабываемым для наших волчат и скаутов!
                
                p 
                  | Просим Вас заявить о своей готовности - в письменной или устной форме! 
                  br 
                  | Регистрация участников проекта по тел: 0675670174; 0567892008; adsskif@mail.ru
                
                h4 БУДЬТЕ ГОТОВЫ !
                
                .programm
                  h4.text-colo-blue.programm__heading ПРОГРАММА ПРОЕКТА
                  
                  .programm__item
                    p.programm__date 02.07.10
                    
                    ol.list.list-ordered.list-ordered_dot
                      -var list1 = ['Встреча 1-й группы участников проекта в Днепропетровске (7:00)', 'Загрузка основного снаряжения и продуктов (7:30 - 8:30)', 'Загруска леса и дров д/костра. (8:30 - 9:30)', 'Выгрузка инвентаря на месте лагеря (12:00)', 'Распределение инвентаря по подлагерям (15:00 - 18:00)'];
                      each li in list1
                        li #{li}
                        
                  .programm__item
                    p.programm__date 03.07.10
                    
                    ol.list.list-ordered.list-ordered_dot
                      -var list2 = ['Встреча 2-й группы участников проекта  в Днепропетровске (8:00)', 'Движение на места лагеря (на автобусе) (9:00 - 10:00)', 'Строительство основных конструкций по подлагерям (11:00 - 17:00)', 'Расчистка терриории лагеря и пляжа (11:00 - 17:00)', 'Подготовка (обеспечение) этапов программы лагеря. 16:00 - 18:00)'];
                      each li in list2
                        li #{li}
                        
                  .programm__item
                    p.programm__date 04.07.10
                    
                    ol.list.list-ordered.list-ordered_dot
                      -var list3 = ['Оборудование подлагерей (палатки, тенты)', 'Подготовка лагеря к заезду участников', 'Загруска леса и дров д/костра. (8:30 - 9:30)', 'Снаряжение и инструмент – предоставляется организаторами'];
                      each li in list3
                        li #{li}
                
                  .programm__descr
                    p Руководство ОДОО «АДС «СКИФ»
                
                .other-news
                  h4.other-news__heading Другие новости
                  
                  ul.list.other-news__list
                    li
                      a.other-news__link(href="#") Встреча участников проекта "Джерело 2012"
                      .data
                        .data__item
                          p.data__p.data__p_calendar 24 декабря 2016 - 01 января 2017
                          a.data__more 
                            | Подробнее
                            i.fa.fa-long-arrow-right(aria-hidden="true")
                              
                    li
                      a.other-news__link(href="#") Международный Скаутський лагер
                      .data
                        .data__item
                          p.data__p.data__p_calendar 24 декабря 2016 - 01 января 2017
                          a.data__more 
                            | Подробнее
                            i.fa.fa-long-arrow-right(aria-hidden="true")
                              
                    a.button.button_yellow.margin-top-60(href="#") Все новости
                
      include templates/banner
      
    include templates/footer
  
